doctype html
html(lang='zh-tw')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		
		title='InkDrop'
		
		link(rel='stylesheet' href='/stylesheets/normalize.css')
		link(rel='stylesheet' href='/stylesheets/solarized_dark.css')
		link(rel='stylesheet' href='/stylesheets/inkdrop.css')

		script(src='/javascripts/vendor/modernizr-2.7.1-custom.min.js')
	body
		div(id='main')
			header(id='header')
				h1='InkDrop'
				nav(id='navigation')
					a(href="#/dashboard")
						span='Dashboard'
					a(href="#/posts")
						span='Posts'
					a(href="#/settings")
						span='Settings'
					a(href="#/logout")
						span='Logout'
			div(id='content')

		
		script(src='/javascripts/vendor/jquery-2.0.3.min.js')
		script(src='/javascripts/vendor/underscore-1.5.2.min.js')
		script(src='/javascripts/vendor/backbone-1.1.0.min.js')
		script(src='/javascripts/vendor/markdown-0.6.0-beta1.min.js')
		script(src='/javascripts/vendor/highlight-7.5.pack.js')
		script(src='/javascripts/inkdrop.js')